body{
    margin:0;
    padding:0;
    font-family: arial, sans-serif;
    background-color:red;
}

h1{
    font-size: 34px;
    color:rgb(255, 255, 255);
    margin-top: 0;
}

p{
    font-size: 20px;
    line-height: 2;
    color: rgb(255, 255, 255);
}
.container{
    width: 80%;
    margin: 0 auto;
    background-color: black;
    flex-direction: column;
    display: flex;
    text-align: center;
    padding: 20px;
}
@media(max-width: 768px) {
    h1{
        font-size: 20px;
    }
    P{
        font-size: 12px;
    }
    .container{
        width: 90%;
        padding: 10%;
    }
}

