<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>paginaCadastro</h1>
        <form>
            <label for="newUsername">Nome de usuário:</label>
            <input type="text" v-model="newUsername" required>
            <br><br>
            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword" required>
            <br><br>
            <label for="confirmPassword">Confirme sua senha:</label>
            <input type="password" v-model="confirmPassword" required>
            <br><br>
            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>
        </form>
        <p class="sucesso" :class="{entrada:mostrarEntrada}">{{sucesso}}</p> 
        <p class="error" :class="{entrada:mostrarEntrada}">{{error}}</p>

        <div>
            <button @click="verCadastrados">
                {{mostrarLista ? "ocultar Lista" : "mostrar lista"}}
            </button>
            <ol v-if="mostrarLista">
                <li v-for="(usuario, index) in usuarios">
                    usuário: {{usuario}}, Senha: {{senhas [index]}}
                </li>
            </ol>
        </div>
    </div>
    <script src="process.js"></script>
    
</body>
</html>