<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>faça login</h1>
        <form>
            <label for="username">nome de usuário:</label>
            <input type="username" v-model="username" required>
            <br><br>
            <label for="Password">senha:</label>
            <input type="password" v-model="password" required>
            <br><br>
            <button type="submit" @click.prevent="loginArray">entrar</button>
        </form>
        <br><br>
        <button @click="paginaCadastro">Cadastrar</button>

        <p class="error" :class="{entrada:mostrarEntrada}">{{error}}</p>
        <p class="sucesso" :class="{entrada:mostrarEntrada}">{{sucesso}}</p>        
    </div>
    <script src="process.js"></script>
</body>
</html>