<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testando v-for</title>
    <script src="vue.global.js"></script>
    <link rel="stylessheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <button @click="showIntes">
            {{show ? 'ocutar lista' : 'mostrar lista!'}}
        </button>
        <ul v-if´="show">
            <h3>lista completa:</h3>
            <li v-for="item in itens">{{item}}
            </li>
        </ul>
        <ol v-if="show">
            <h3>lista com filtros:</h3>
            <li v-for="item in itens" v-bind:class="{filtro: item != 'Bola'}">
                {{item == 'Bola' ? 'Item:' + item : null}}

            </li>
        </ol>
    </div><!--fechamendo div principal-->
    <script src="process.js"></script>
</body>
</html>