.calculadora
{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);    
    background-color:rgb(0, 224, 254);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:20rem;
    background-image:linear-gradient(rgb(0, 224, 254),rgb(0, 224, 254)); 
    border: 10px solid #000000;
    border-radius:20px;
    padding:20px; 
}/*fechamento calculadora*/

.tela
{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:3rem;
    width:93%;
    height:80px;
    margin-bottom:20px;
    border:3px solid #000000;
    background-color:#00ffa2;
}/*fechamento tela*/

.botao
{
    display:flex;
    flex-direction:column;
    align-items:center;
}/*fechamento botao*/

.linha
{
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}/*fechamento linha*/

.operadores
{
    background-color:#00ffa2;
    color:#000000;
    border:2px solid;
}/*fechamento operadores*/

.outros
{
    background-color:#00ff15;
    color:#000000;
    border:2px solid;
}/*fechamento outros*/

button{
    font-size:25px;
    width:80px;
    height:80px;
    margin-right:5px;
    border: 2px solid #000000;
    border-radius:2px;
    margin-left:5px;
    border:2px solid black;
    border-radius:2px;
    cursor:pointer;
}
button:last-child{
margin-right:0;
}
button:hover{
    background-color:rgb(0, 0, 0);
    color:#f5f4f4;
}
