<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>acessando outra página</title>
    <script src="vue.global.js"></script>
  </head>
  <body>
    <div id="app">
    <div>
        <h1>Bem vindo ao exemplo de carregamento de página!</h1>
        <p>click no botão abaixo para carregar aproxima página... {{Teste}}</p>
        <button @click="loadpage">load page</button>
      </div>
    </div>
    <script src="process.js"></script>
  </body>
</html>
